{% extends 'base.html.twig' %}

{% block body %}
    <div>welcome to the chat</div>


    <div id='content'></div>

    <form id="messageForm" onsubmit="return sendChatMessage();">
        <p>
            <textarea name="message" placeholder="Enter your message..." ></textarea>
        </p>
        <p>
            <input type="submit" value="Send Message" />
        </p>
    </form>
{% endblock %}