{% extends 'base.html.twig' %}

{% block body %}
    <div class="title">Chat</div>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-half main">
            
            <div id="app" class="block ">
                <app></app> 
            </div>  
        </div>
        <div class="column"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        window.config = window.config ?? {};
        window.config.wss_base_url = "{{wss_base_url}}";
    </script>
{% endblock %}